<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AppName" value ="DVLD"/>
	</appSettings>

	<connectionStrings>
		<add name="DVLD_ConnectionString" connectionString="Server=.;Database=DVLD;User Id=sa;Password=123456;"/>
	</connectionStrings>
</configuration>